{# {% extends "layouts/centered.twig" %} #}
{% extends "base.twig" %}
{% block content %}
    <article {{ function('post_class') }}>
        <header>
            <h1 class="entry-title">
                {{ post.title }}</h1>
            {% include "blocks/entry-meta.twig" %}
            {%if post.thumbnail %}
                <figure class='post-thumbnail'>
                    <img src="{{ post.thumbnail.src }}" alt='{{ post.thumbnail.alt }}'/>
                </figure>
            {% endif %}
        </header>
        <div class="entry-content">
            {{ post.content }}
        </div>
        <footer>
        <hr class='text-danger' />
            {{ wp_link_pages }}

<div>
<span class='text-dark'>
        <i class='fas fa-folder '></i>
         {{__('Categories')}}: </span>

            {% for term in post.terms('category') %}
                <a href='{{term.link}}' class='badge badge-primary'>
                    {{term.name}}</a>
            {% endfor %}
</div>
{% if post.terms('tags') %}
<div>

<span class='text-dark'>
        <i class='fas fa-tags'></i>
         {{__('Tags')}}: </span>

            {% for term in post.terms('tags') %}
                <a href='{{term.link}}' class='badge badge-primary'>
                    {{term.name}}</a>
            {% endfor %}
            </div>
            {% endif %}
        </footer>
    </article>
{% endblock %}